<header class="bg-light p-3">
    <h1 class="text-center">Freelancer Profile</h1>
</header>

<main class="container my-4">
    <div class="row">
        <div class="col-md-2 text-center">
            <img [src]="profile?.profilePicture"
                 class="img-fluid"
                 alt="{{ profile?.name }}'s Profile Picture">
        </div> -
        <div class="col-md-8">
            <h2><u>{{ profile?.name }}</u></h2>
            <p><strong><u>Location:</u></strong> {{ profile?.location }}</p>
            <p><strong><u>Hourly Rate:</u></strong> R{{ profile?.hourlyRate }}</p>
            <p><strong><u>Bio:</u></strong> {{ profile?.bio }}</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3><u>Skills</u></h3>
            <ul class="list-unstyled">
                <li *ngFor="let skill of profile.skills" class="badge bg-primary me-1">{{ skill }}</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Portfolio</h3>
            <p> {{ profile?.portfolioBio }}</p>
            <div class="row">
                <div class="col-md-2">
                    <a href="https://mtn.co.za" target="_blank">
                        <img [src]="profile?.portfolio[0]"
                             alt="Portfolio item showcasing {{ profile.name }}'s work"
                             style="width:40%">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://vodacom.co.za" target="_blank">
                        <img [src]="profile?.portfolio[1]"
                             alt="Portfolio item showcasing {{ profile.name }}'s work"
                             style="width:40%">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://standardbank.co.za" target="_blank">
                        <img [src]="profile?.portfolio[2]"
                             alt="Portfolio item showcasing {{ profile.name }}'s work"
                             style="width:40%">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://fnb.co.za" target="_blank">
                        <img [src]="profile?.portfolio[3]"
                             alt="Portfolio item showcasing {{ profile.name }}'s work"
                             style="width:40%">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://absa.co.za" target="_blank">
                        <img [src]="profile?.portfolio[4]"
                             alt="Portfolio item showcasing {{ profile.name }}'s work"
                             style="width:40%">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-14">
            <h3><u>Social Media</u></h3>
            <div class="row">
                <div class="col-md-2">
                    <a href="https://instagram.com" target="_blank">
                        <img [src]="profile?.socialMedia[0]"
                             alt="Media item showcasing {{ profile.name }}'s work"
                             style="width:15%">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://linkedin.com" target="_blank">
                        <img [src]="profile?.socialMedia[1]"
                             alt="Media item showcasing {{ profile.name }}'s work"
                             style="width:15%">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://x.com" target="_blank">
                        <img [src]="profile?.socialMedia[2]"
                             alt="Media item showcasing {{ profile.name }}'s work"
                             style="width:15%">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3><u>Contact Information</u></h3>
            <p><strong><u>Email:</u></strong> {{ profile?.contact.email }}</p>
            <p><strong><u>Phone:</u></strong> {{ profile?.contact.phone }}</p>
        </div>
    </div>
</main>
