.skills-list {
  list-style-type: none;
  padding-left: 0; 
  display: flex;
  flex-wrap: wrap; 
}

.skill-item {
  position: relative; 
  margin: 5px; 
}

.skill-badge {
  background-color: #800080;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

  .skill-badge:hover {
    background-color: #5a36a1; 
  }

.star-rating {
  display: none; 
  position: absolute; 
  left: 0; 
  top: 30px; 
  font-size: 1.0em; 
  color: gold; 
}

.skill-item:hover .star-rating {
  display: block; 
}

.social-media-icons {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-top: 10px; 
  margin-bottom: 20px;
}

.social-icon {
  text-decoration: none; 
  font-size: 16px; 
  color: #333; 
  transition: color 0.3s; 
  border: 1px solid #6f42c1; 
  border-radius: 5px; 
  padding: 5px; 
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.portfolio-list {
  list-style-type: none; 
  padding: 0; 
}

.portfolio-list li {
  margin-bottom: 10px; 
}

.portfolio-list a {
color: #6f42c1; 
text-decoration: none; 
transition: color 0.3s; 
}

.portfolio-list a:hover {
  text-decoration: underline; 
}

.carousel-item {
  text-align: center; 
}

  .carousel-item h5 {
    margin-bottom: 5px; 
  }

  .carousel-item p {
    font-size: 14px; 
  }

img {
  border-radius: 50%;
}

textarea {
  width: 100%; 
  margin-bottom: 10px; 
}

.portfolio-image {
  width: 30%; 
  height: auto; 
}

.portfolio-edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

  .portfolio-edit-modal input {
    margin-bottom: 10px; 
  }

.carousel-control-prev,
.carousel-control-next {
  width: 5%; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%; 
}

.portfolio-caption {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); 
  position: relative;
}



